<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap" rel="stylesheet">
</head>
<body>

    <div class="blue-line"></div>
    
    <div class="container">
        <img class="logo-img" src="assets/HappyCarLogo.png" alt="Logo">
    </div>

    <div class="orange-line"> </div>

    <div class="person-container">
        <label class="generic-label-size"> Espacio de:</label>
        <label class="name-label"> Nombre Apellido</label>
        <img class="person-img" src="assets/personExample.jpeg" alt="Imagen de persona">
        <label class="orange-label">@Alias.Emprendedor</label>
        <label class="workstation-blue-label">Emprendedor en seguros</label>
        <button class="listing-price-btn"> Contiza el Seguro de tu Auto</button>
    </div>

    <div class="title-orange-line">Orientación</div>
    <div class="person-info-container">
        <label class="generic-label-size">Te ayudaré a encontrar en la Plataforma digital Happy Car cuál es el seguro de auto y cobertura que se adapta mejor a tus posibilidades y necesidades.</label>
    </div>
    <div class="title-blue-container">
        <label class="title-section">Cotización, Comparación y Emisión en Happy Car</label>
    </div>
    <div class="person-info-container">
        <label class="generic-label-size">Te acompañaré en tu proceso de cotización, comparación y emisión a fin de que adquieras tu póliza con total confianza.</label>
    </div>
    <div class="title-orange-line">Información</div>
    <div class="person-info-container">
        <label class="generic-label-size">Te proporcionaré información sobre las opciones de pago y los recursos que te ofrece la aseguradora que elijas.</label>
    </div>
    <div class="title-blue-container">
        <label class="title-section">Contacto</label>
    </div>
    <div class="person-info-container">
        <label class="generic-label-size">Seré tu contacto con nuestra Oficina Tecnológica para que recibas apoyo y respuesta a tus requerimientos.</label>
    </div>


    <div class="info-number-container"> 
        <img class="whatsapp-logo" src="assets/whatsAppLogo.png" alt="Logo de WhastApp">
        <button class="phone-number"> 55 5555 5555</button>
    </div>

    <div class="options-container">
        <div class="line"> </div>
        <label  class="option-text"> Aviso de Provacidad</label>
        <div class="line"> </div>
        <label class="option-text"> Emprendedores en Seguros</label>
        <div class="line"> </div>
        <label (click)="openModal()" class="option-text"> Mayorazgo No. 37 Col. Xoco. CdMx. C.P. 03330 </label>

      

    </div>

  
  
    <div class="blue-line"></div>
</body>
</html>

